<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Moolelo</key>
	<array>
		<string>Said to be named in honor of the tattooed knee of Kaʻōpulupulu, a priest whose chief, Kahahana, turned a deaf [kuli] ear to his advice, and, when asked about his knee, told of his relationship with the chief, thus rebuking him; or look deaf (said because people in the area had not enough food to offer passersby; hence they looked at them and pretended to be deaf).</string>
		<string>no info in Place names, look for info in Sites of Oahu</string>
		<string>A lizard goddess named Pūhāwai (water hollow) once lived inland at a place called Pūhā; she stole a woman&apos;s husband; the wind god, Makanikeoe, restored him to her.</string>
		<string>In ancient days famous for robberies.</string>
		<string>no info in Place names, look for info in Sites of Oahu</string>
		<string>no info in Place names, look for info in Sites of Oahu</string>
		<string>The traditional haunt of expert lua fighters</string>
		<string>no info in Place names, look for info in Sites of Oahu</string>
		<string>It was believed that spirits of the newly dead would come to a place here called Kahoʻihoʻinawākea (Wākea&apos;s turning back place); if the personal god (ʻaumakua) thought the person was not ready to die, he would turn the spirit back to re-enter the body. The goddess Hiʻiaka opened a cave here to get water. The Oʻahu Railroad train stopped here to let Japanese fishermen off; so many came that they bay was called Yokohama Bay. </string>
	</array>
	<key>Meaning</key>
	<array>
		<string>Look at Knee</string>
		<string>&quot;&quot;</string>
		<string>Mullet Water</string>
		<string>Fierce</string>
		<string>&quot;&quot;</string>
		<string>Prying out Brains</string>
		<string>Parents</string>
		<string>&quot;&quot;</string>
		<string>The Red Harbor</string>
	</array>
	<key>AhupuaaNames</key>
	<array>
		<string>Nānākuli</string>
		<string>Lualualei</string>
		<string>Waianae</string>
		<string>Makaha</string>
		<string>Keaau</string>
		<string>Ohikilolo</string>
		<string>Makua</string>
		<string>Kahanahaiki</string>
		<string>Keawaula</string>
	</array>
</dict>
</plist>
